.about-page {
  max-width: 1200px;
  margin: 25px auto 0;
  font-size: 18px;
}
.about-page__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.about-page__descr {
  flex: 0 1 50%;
  max-height: 300px;
  padding: 20px;
  border-radius: 10px;
  font-size: 22px;
  background-color: #FFD700;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.about-page__descr .def {
  margin-bottom: 20px;
}
.about-page .about-bg {
  flex: 1 0 50%;
  max-width: 600px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.about-page .subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.about-page .company-values {
  margin-bottom: 50px;
}
.about-page .company-values__container {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.about-page .company-values .value-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  padding: 30px 15px;
  border-radius: 10px;
  background-color: #FFD700;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.about-page .company-values .value-box__text {
  font-size: 20px;
  text-align: center;
}
.about-page .company-values .value-box .money {
  width: 40px;
}
.about-page .company-values .value-box .clock {
  width: 40px;
}
.about-page .company-values .value-box .hands {
  width: 40px;
}
.about-page .career {
  width: 100%;
  background-color: #5a5a5a;
  padding: 50px 20px 70px;
  color: #fff;
}
.about-page .career .axis-wrapper {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  height: 400px;
}
.about-page .career .axis-wrapper .y-arrow {
  position: absolute;
  left: -44px;
  top: -49px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #FFD700;
}
.about-page .career .axis-wrapper .x-arrow {
  position: absolute;
  right: -109px;
  bottom: -44px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #FFD700;
}
.about-page .career .axis-wrapper::before,
.about-page .career .axis-wrapper::after {
  content: "";
  position: absolute;
  background-color: #FFD700;
  z-index: 0;
}
.about-page .career .axis-wrapper::before {
  left: -40px;
  bottom: -40px;
  width: 2px;
  height: 120%;
}
.about-page .career .axis-wrapper::after {
  left: -40px;
  bottom: -40px;
  width: 120%;
  height: 2px;
}
.about-page .career__subtitle {
  color: #FFD700;
}
.about-page .career .item-box {
  position: relative;
  width: 70%;
  padding: 20px;
  margin-bottom: 30px;
  color: white;
  background-color: #797979;
  border-left: 6px solid #FFD700;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.about-page .career .item-box__title {
  font-size: 22px;
}
.about-page .career .item-box__text {
  font-size: 16px;
}
.about-page .career .step-1 {
  left: 40%;
}
.about-page .career .step-2 {
  left: 20%;
}
.about-page .career .step-3 {
  left: 0;
}

.vacancies {
  padding-top: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.vacancies__container {
  display: flex;
  gap: 50px;
}
.vacancies .filters {
  height: -moz-max-content;
  height: max-content;
  background-color: #5a5a5a;
  padding: 20px 40px;
  border-radius: 16px;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.vacancies .filters__title {
  color: #FFD700;
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}
.vacancies .filters__label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #ccc;
}
.vacancies .filter-btn-submit {
  width: 100%;
  padding: 10px 40px;
  border-radius: 6px;
  background: #FFD700;
  color: #222;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.vacancies .filter-group {
  margin-bottom: 25px;
}
.vacancies .input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background-color: #797979;
  color: white;
  font-size: 15px;
}
.vacancies .input::-moz-placeholder {
  color: white;
}
.vacancies .input::placeholder {
  color: white;
}
.vacancies .input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FFD700;
}
.vacancies .radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.vacancies .radio-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #eee;
}
.vacancies .radio-option input[type=radio] {
  accent-color: #FFD700;
  width: 18px;
  height: 18px;
}

.vacancies-list {
  flex: 1 1 75%;
}
.vacancies-list__title {
  margin-bottom: 20px;
}

.activity {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.activity__item {
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 3px 30px;
  border: 2px solid #FFD700;
  border-radius: 16px;
  font-weight: 700;
  color: #222;
}

.vacancy-card {
  margin-bottom: 16px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.vacancy-card__container {
  position: relative;
}
.vacancy-card__container .favorite {
  position: absolute;
  top: 0;
  right: 0;
}
.vacancy-card__container .date {
  position: absolute;
  max-width: -moz-max-content;
  max-width: max-content;
  bottom: 0;
  right: 0;
  font-weight: 600;
  color: rgb(133, 133, 133);
}
.vacancy-card__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}
.vacancy-card__company {
  font-size: 14px;
  margin: 0;
}
.vacancy-card__location {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}
.vacancy-card__format {
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 5px 15px;
  margin-bottom: 12px;
  border: 2px solid #FFD700;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}
.vacancy-card__salary {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  color: rgb(133, 133, 133);
}
.vacancy-card__description {
  margin-bottom: 10px;
}
.vacancy-card .btn_more {
  margin-right: 10px;
  border: 1px solid rgb(34, 34, 34);
  background-color: white;
  color: rgb(34, 34, 34);
  font-weight: 600;
}

.btn {
  background: rgb(34, 34, 34);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.btn__back {
  border: 1px solid rgb(34, 34, 34);
  background-color: white;
  color: rgb(34, 34, 34);
}

.create-vac {
  margin-bottom: 30px;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 0;
}
.header .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .logo {
  width: 50px;
}
.header .nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .nav a {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.burger {
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}

.burger__line {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
}

.vacancy-details {
  margin: 30px;
}
.vacancy-details__container {
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.vacancy-details__textbox {
  position: relative;
}
.vacancy-details__textbox .favorite {
  position: absolute;
  right: 0;
  top: 0;
}
.vacancy-details__title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
}
.vacancy-details__salary {
  margin-bottom: 15px;
  font-size: 20px;
}
.vacancy-details__info {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.vacancy-details__info:last-child {
  margin-bottom: 20px;
}
.vacancy-details .box {
  margin-bottom: 25px;
}
.vacancy-details__subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}
.vacancy-details__text {
  font-size: 18px;
}
.vacancy-details .list {
  list-style: disc;
  margin-left: 20px;
}
.vacancy-details .requirements-item:not(:last-child) {
  margin-bottom: 5px;
}
.vacancy-details .responsibilities-item:not(:last-child) {
  margin-bottom: 5px;
}
.vacancy-details__published-at {
  text-align: end;
}

.contacts-page {
  max-width: 1200px;
  margin: 25px auto 25px;
}
.contacts-page__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.contacts-page__subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
.contacts-page .form {
  margin-bottom: 50px;
  padding: 20px 70px 30px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}
.contacts-page .form__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}
.contacts-page .form__subtitle {
  margin-bottom: 10px;
  font-size: 20px;
}
.contacts-page .form__elem {
  margin-bottom: 30px;
}
.contacts-page .form input {
  flex: 1 1 30%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 16px;
}
.contacts-page .form .msg {
  height: 100px;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 16px;
  font-family: "Noto Sans";
}
.contacts-page .form .inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.contacts-page .form .btn-submit {
  width: 100%;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: #FFD700;
  color: #222;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.contacts-page .info-container {
  display: flex;
  gap: 20px;
}
.contacts-page .info-container .links-container {
  margin: 50px 0 0 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contacts-page .info-container .link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
}
.contacts-page__contacts {
  flex: 1 1 50%;
}
.contacts-page__map {
  flex: 1 1 50%;
  width: 600px;
  height: 500px;
  border: 5px solid #FFD700;
  border-radius: 6px;
}

.apply-modal .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.apply-modal__container {
  max-width: 800px;
  max-height: 90%;
  padding: 24px 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.apply-modal__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}
.apply-modal__textbox {
  position: relative;
}
.apply-modal .close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
.apply-modal .first-last-name-container {
  display: flex;
  gap: 10px;
}
.apply-modal .contacts-container {
  display: flex;
  gap: 10px;
}
.apply-modal .input-box {
  margin-bottom: 10px;
}
.apply-modal .last-name,
.apply-modal .first-name,
.apply-modal .email,
.apply-modal .tel {
  flex: 1 1 50%;
}
.apply-modal label {
  font-size: 18px;
}
.apply-modal input {
  width: 100%;
  padding: 5px;
  background-color: rgba(224, 224, 224, 0.5);
  border-radius: 8px;
  border: 2px solid black;
  font-size: 16px;
}
.apply-modal .textarea {
  display: flex;
  flex-direction: column;
}
.apply-modal .textarea textarea {
  max-width: 100%;
  min-width: 620px;
  max-height: 100px;
  padding: 5px;
  background-color: rgba(224, 224, 224, 0.5);
  border-radius: 8px;
  border: 2px solid black;
  font-family: "Noto Sans";
}
.apply-modal .file {
  margin-bottom: 20px;
}
.apply-modal .btn-container {
  display: flex;
  justify-content: end;
}

.news-page {
  max-width: 1200px;
  margin: 25px auto 25px;
}
.news-page__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.news-page__box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.news-card {
  max-width: 380px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.news-card__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.news-card__title {
  margin-bottom: 5px;
  font-size: 16px;
}
.news-card__text {
  height: 100%;
  margin-bottom: 5px;
  font-size: 14px;
}
.news-card__date {
  text-align: end;
  color: rgb(133, 133, 133);
}
.news-card img {
  height: 200px;
  width: 340px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.main-news {
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.main-news__title {
  margin-bottom: 10px;
  font-size: 26px;
}
.main-news__text {
  font-size: 20px;
}
.main-news__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-news__date {
  color: rgb(133, 133, 133);
}
.main-news img {
  height: 300px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.admin {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  justify-content: center;
}
.admin__title {
  font-size: 30px;
  text-align: center;
}
.admin__form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin__input {
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  max-height: 90vh;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  background: white;
  border-radius: 12px;
}
.modal__title {
  text-align: center;
  margin-bottom: 10px;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.create-vacancy-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-vacancy-modal .top-container {
  display: flex;
  gap: 10px;
}
.create-vacancy-modal .items-box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.create-vacancy-modal .input {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}
.create-vacancy-modal .input__spec {
  margin-right: 3px;
}
.create-vacancy-modal textarea {
  min-width: 560px;
  max-width: 560px;
  max-height: 200px;
  font-family: "Noto Sans";
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid black;
}
.create-vacancy-modal .requirement-container {
  display: flex;
}
.create-vacancy-modal .resposibility-container {
  display: flex;
}
.create-vacancy-modal .activity-container {
  display: flex;
}
.create-vacancy-modal .delete-btn {
  background-color: transparent;
  border: none;
}
.create-vacancy-modal .add-btn {
  padding: 5px;
  font-size: 14px;
  font-weight: normal;
  background-color: #FFD700;
  color: black;
}
.create-vacancy-modal .type-selector {
  padding: 10px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
}

a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */