.vacancy-card {

  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;

  &__container{
    position: relative;

    .favorite{
      position: absolute;
      top: 0;
      right: 0;
    }

    .date{
      position: absolute;
      max-width: max-content;
      bottom: 0;
      right: 0;
      font-weight: 600;
      color: rgb(133, 133, 133);
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__company {
    font-size: 14px;
    margin: 0;
  }

  &__location {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  &__format {
    max-width: max-content;
    padding: 5px 15px;
    margin-bottom: 12px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  &__salary {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(133, 133, 133);
  }

  &__description {
    margin-bottom: 10px;
  }

  &__button {
    background: rgb(34, 34, 34);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    &_more {
      margin-right: 10px;
      border: 1px solid rgb(34, 34, 34);
      background-color: white;
      color: rgb(34, 34, 34);
      font-weight: 600;
    }
  }

  
}