@import "./about";
@import './vacancies';
@import './vacancyCard';
@import './header';
@import './vacancy-details';
@import './contacts';
@import './applyModal';
@import './news';
@import './admin';
@import './modals';
@import './feedback';
@import './response';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // font-family: "Montserrat";
    // font-family: "Open Sans";
    font-family: "Noto Sans", sans-serif;
    // font-family: "Comfortaa";
}

a{
    color: black;
    text-decoration: none;
}

